
body{background-color: 	#1e251d}
header{background-color:#29492c}
h1{font-family: 'Bangers', cursive;}
h3, h4{font-family: 'Permanent Marker', cursive;}
p{font-family: 'Sarala', sans-serif;}

/*creating a sircular image*/
.container-name-picture img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 2%;
  border-radius: 80%;}

.card{margin: auto;}

.container-class{background-color: #617c22}

.moto{background-color: #1e251d; color: white}
.container img{ width: 31%;}

.car{background-color: #24415f; color: white}

.boat{background-color: #43111b; color: white;}

footer{
  width: 100%;
  bottom: 0px;
  background-color:#29492c;
  text-align: center;
  font-size: .75em;
  text-decoration: none;
  color: grey;
  font-style: italic;}

.content{width: 95%; margin: auto; background-color: orange}
.container-name{background-color: #74b2f0;}
.container-name-picture{background-color: white;}
.container-projects{background-color: #527cae; }
