

body{background-color: green}
header{background-color: red}


footer{
  width: 100%;
  bottom: 0px;
  background-color: #5D713E ;
  text-align-last: center;
  font-size: .75em;
  text-decoration: none;
  color: grey;
  font-style: italic;}

.content{width: 90%; margin: auto; background-color: black}
.container-name{background-color: yellow;}
.container-name-picture{background-color: brown}
